In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [3]:
data=pd.read_csv(r'StudentsPerformance.csv')
df=pd.DataFrame(data)

In [4]:
df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [7]:
df.describe(include='all')

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
count,1000,1000,1000,1000,1000,1000.00000,1000.000000,1000.000000
unique,2,5,6,2,2,NaN,NaN,NaN
top,female,group C,some college,standard,none,NaN,NaN,NaN
freq,518,319,226,645,642,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,66.08900,69.169000,68.054000
std,NaN,NaN,NaN,NaN,NaN,15.16308,14.600192,15.195657
min,NaN,NaN,NaN,NaN,NaN,0.00000,17.000000,10.000000
25%,NaN,NaN,NaN,NaN,NaN,57.00000,59.000000,57.750000
50%,NaN,NaN,NaN,NaN,NaN,66.00000,70.000000,69.000000
75%,NaN,NaN,NaN,NaN,NaN,77.00000,79.000000,79.000000
max,NaN,NaN,NaN,NaN,NaN,100.00000,100.000000,100.000000

In [8]:
num_cols=[feature for feature in df.columns if df[feature].dtypes!='O']
cat_cols=[feature for feature in df.columns if df[feature].dtypes=='O']
print(f'we have {len(num_cols)} numerical columns:{num_cols} ')
print(f'we have {len(cat_cols)}  categorical columns :{cat_cols}')

we have 3 numerical columns:['math score', 'reading score', 'writing score']
we have 5  categorical columns :['gender', 'race/ethnicity', 'parental level of education', 'lunch', 'test preparation course']

In [10]:
for i in cat_cols:
    print(f'{str(i).capitalize()}')
    print(f'{i} has {df[i].nunique()} unique values')
    print(f'{df[i].value_counts()}')
    print('-------------------------------------')

Gender
gender has 2 unique values
gender
female    518
male      482
Name: count, dtype: int64
-------------------------------------
Race/ethnicity
race/ethnicity has 5 unique values
race/ethnicity
group C    319
group D    262
group B    190
group E    140
group A     89
Name: count, dtype: int64
-------------------------------------
Parental level of education
parental level of education has 6 unique values
parental level of education
some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: count, dtype: int64
-------------------------------------
Lunch
lunch has 2 unique values
lunch
standard        645
free/reduced    355
Name: count, dtype: int64
-------------------------------------
Test preparation course
test preparation course has 2 unique values
test preparation course
none         642
completed    358
Name: count, dtype: int64
-------------------------------------

In [15]:
df['Total_Marks']=df['math score']+df['reading score']+df['writing score']
df['Average']=df['Total_Marks']/3
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,Total_Marks,Average
0,female,group B,bachelor's degree,standard,none,72,72,74,218,72.666667
1,female,group C,some college,standard,completed,69,90,88,247,82.333333
2,female,group B,master's degree,standard,none,90,95,93,278,92.666667
3,male,group A,associate's degree,free/reduced,none,47,57,44,148,49.333333
4,male,group C,some college,standard,none,76,78,75,229,76.333333

In [ ]:
reading_full=df[df['reading score']==100].count()
writing_full=df[df['writing score']==100].count()
math_full=df[df['math score']==100].count()
print(f'Number of students who got full marks in reading: {reading_full[0]}')
print(f'Number of students who got full marks in writing: {writing_full[0]}')
print(f'Number of students who got full marks in math: {math_full[7]}')

Number of students who got full marks in reading: 17
Number of students who got full marks in writing: 14
Number of students who got full marks in math: 7

In [18]:
reading_less_20=df[df['reading score']<=20].count()
writing_less_20=df[df['writing score']<=20].count()
math_less_20=df[df['math score']<=20].count()
print(f'Number of students who got less than 20 marks in reading: {reading_less_20[0]}')
print(f'Number of students who got less than 20 marks in writing: {writing_less_20[0]}')
print(f'Number of students who got less than 20 marks in math: {math_less_20[0]}')

Number of students who got less than 20 marks in reading: 1
Number of students who got less than 20 marks in writing: 3
Number of students who got less than 20 marks in math: 4